@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Heading</h2>
@using (Html.BeginForm("EdiHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Id")
    @Html.TextBoxFor(x => x.HeadingID)
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.HeadingName)
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.HeadingDate)
    <br />
    @Html.Label("Yazar Adı")
    @Html.DropDownListFor(X => X.WriterID, (List<SelectListItem>)ViewBag.valwrit, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı")
    @Html.DropDownListFor(X => X.CategoryID, (List<SelectListItem>)ViewBag.valcat, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

